/.deps/
/.objs/
/*.lst
/*.d
/*.i
/*.o
/*.s
/*.lfuse.txt
/*.hfuse.txt
/*.efuse.txt
/settings.mk
/firmware.eep
/firmware.elf
/firmware.fuses
/firmware.hex
/firmware.lss
/firmware.map
/firmware.sym
/check-ALL.check
/check-min-stack-size.check
